@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
.container {
  /* Desktop */
  position: absolute;
  display: flex;
  width: 1440px;
  height: 800px;
  /* Light Grey */
  background: #d5e1ef;
}

.box {
  /* box for all the contents of the QR code */
  position: absolute;
  flex: 1;
  width: 320px;
  height: 497px;
  left: 560px;
  top: 152px;
  border-radius: 20px;
  background-color: white;
  padding: 25px 25px 25px 25px;
}

.qrCodeBox {
  border-radius: 15px;
}

.qrCodeImage {
  /* QR code image only with rounded corners */

  width: 288px;
  height: 288px;
  left: 576px;
  top: 168px;
  position: flex;
  background: #2c7dfa;
  border-radius: 10px;
}

.qrCodeTitle {
  /* Heading how dare you do this to me Matt*/
  padding-top: 15px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;

  /* Dark Navy */
  color: #1f314f;
}

.qrCodeText {
  /* Body */
  padding-top: 10px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1875px;

  /* Grey */
  color: #7d889e;
  text-shadow: 1px 1px 2px rgb(174, 170, 171);
}

.attribution {
  padding-top: 10px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 600px) {
  /* Mobile */
  .container {
    position: relative;
    width: 375px;
    height: 667px;

    /* Light Grey */
    background: #d5e1ef;
  }

  .box {
    /* Group 3 */

    position: absolute;
    width: 320px;
    height: 497px;
    left: 28px;
    top: 85px;
  }
}
